body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #d48166;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: #e6e2dd;
  padding: 10px;
  text-decoration: none;
}

.sidebar button{
  display: block;
  background-color: transparent;
  border: none;
  color: #e6e2dd;
  font-size: 1rem;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #e6e2dd;
  color: #d48166;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
} */

#temples ul, #services ul{
  list-style-type: none;
  margin: 0px 0px;
  padding-left: 0px;
}

#temples li, #services ul{
  text-align: center;
}

#templeLogo{
  padding: 10px;
  background: #555;
}
#templeLogo img{
  width: 230px;
}

.hide {
  display: none;
}

/* #templeLogo{
  display: flex;
} */