#sitetitle,
footer {
  text-align: center;
  background-color: #437889;
  border: 5px solid #98becb;
  color: #98becb;
}
header img,
.headings {
  display: inline-block;
  vertical-align: middle;
}
header img {
  width: 100px;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #cff0b1;
}

nav li {
  list-style-type: none;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav button {
  display: block;
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-size: 1.25rem;
}

nav li a {
  display: block;
  color: #437616;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.25rem;
}
nav li a:hover {
  background-color: #8dc45c;
  color: #cff0b1;
}

nav li a.active {
  background-color: #437616;
  color: #cff0b1;
}

h2,
h3 {
  color: #615097;
}

h2 {
  text-align: center;
}

.firstarticle {
  margin-top: 5px;
  margin-right: 5px;
  text-align: center;
  border: 2px solid #29195b;
}

p {
  color: #808e92;
  padding-left: 1em;
  padding-right: 1em;
}

footer {
  font-size: 10px;
  margin-top: 5px;
  border: 5px solid #98becb;
}

body {
  margin: 0.5em;
}

#daily {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
}

.grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

/* .home{
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
}

.townArticle{
    width: 300px;
    margin: 10px;
    border: 2px solid #29195B;
    padding: 2px 16px;
    align-self: center;
    align-self: flex-start;
}

.home .towns .card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 10px;
}

.home .towns .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.home .towns .container {
    padding: 2px 16px;
}

.home .towns{
    display: flex;
    align-items: center;
    align-self: flex-end;
    /* flex-flow: nowrap; */
/* } */
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
.card {
  flex: 0 0 340px;
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}
.card img {
  max-width: 100%;
}
.card .text {
  padding: 0 20px 20px;
}
.card .text > button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 750px){
    .hide {
        display: none;
    }
    /* .home .towns{
        flex-flow: wrap;
    }
    .home .towns .card{
        width: 100%;
    } */
}

.forecast article {
    margin: 10px;
}

.forecast h1, h2 {
    text-align: center;
}

.forecast section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.forecast .block {
    display: block;
}
