* {margin: 0; box-sizing: border-box;}

body {
  font-size: 16px;
  line-height: 32px;
  font-family: sans-serif;
  color: black;
}

h1 {
  font-size: 2em;
  color:whitesmoke;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  border-bottom: 1px solid #bbb;
}

h3 {
  text-align: center;
}

#schedule{
  text-align: left;
}

header, main, footer {
  margin: 1.25rem auto;
  padding: 0.5rem;
  max-width: 1000px;
}

header, footer, footer a {
  text-align: center;
  background-color: darkred;
  color: whitesmoke;
}

header img {
  width: 200px;
  height: auto;
  border: 2px solid black;
  float: right;
}

p, blockquote{
  padding: 0.8rem;
}

footer {
  font-size: 0.9em;
}

table, th, td {
  padding: 0.5rem;
}

table{
  border: 1px solid black;
}

th {
  text-align: left;
  font-weight: bolder;
  background-color: blanchedalmond;
  
}

tr:hover {background-color: #f5f5f5;}
