header{
    text-align: center;
    background-color: #437889;
}

header img, .headings{
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

.headings{
    color: #98BECB;
}

nav {
    overflow: hidden;
    background-color: #CFF0B1;
    border: 1px #437616;
}

nav li{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    float: left;
    border: 1px #437616;
}

nav li a {
    display: block;
    color: #437616;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav li a:hover:not(.active) {
    background-color: #8DC45C;
    color: #CFF0B1;
}

nav li a.active {background-color: #437616;}
  
nav li.right {float: right;}
  
@media screen and (max-width: 600px) {
    nav li.right, 
    nav li {float: none;}
}
