header{
    text-align: center;
}

header img, .headings{
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

nav.topnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aqua;
}

nav.topnav li{
    float: left;
}

nav.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav.topnav li a:hover:not(.active) {background-color: #111;}

nav.topnav li a.active {background-color: #4CAF50;}
  
nav.topnav li.right {float: right;}
  
@media screen and (max-width: 600px) {
    nav.topnav li.right, 
    nav.topnav li {float: none;}
}
