#sitetitle,
footer {
  text-align: center;
  background-color: #437889;
  border: 5px solid #98becb;
  color: #98becb;
}
header img,
.headings {
  display: inline-block;
  vertical-align: middle;
}
header img {
  width: 100px;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #cff0b1;
}

nav li {
  list-style-type: none;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav button {
  display: block;
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-size: 1.25rem;
}

nav li a {
  display: block;
  color: #437616;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.25rem;
}
nav li a:hover {
  background-color: #8dc45c;
  color: #cff0b1;
}

.hide {
  display: none;
}

nav li a.active {
  background-color: #437616;
  color: #cff0b1;
}

h2,
h3 {
  color: #615097;
}

h2 {
  text-align: center;
}

footer {
  font-size: 10px;
  margin-top: 5px;
  border: 5px solid #98becb;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
.card {
  flex: 0 0 200px;
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
} 
.card img {
  max-width: 100%;
}
.card .text {
  padding: 0 20px 20px;
}
.card .text > button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  }
