#sitetitle, footer{
    text-align: center;
    background-color: #437889;
    border: 5px solid #98BECB;
    color: #98BECB;
}
header img, .headings{
    display: inline-block;
    vertical-align: middle;
}
header img{
    width: 100px;
}

nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
    flex-direction: column;
    background-color: #CFF0B1;
}

nav li{
    list-style-type: none;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav button {
    display: block;
    background-color: transparent;
    border: none;
	text-decoration: none;
	font-size: 1.25rem;
}

nav li a { 
    display: block;
	color:#437616;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	font-size: 1.25rem;
}
nav li a:hover {
	background-color: #8DC45C;
    color: #CFF0B1;
}

.hide {
    display: none;
}

nav li a.active {
    background-color: #437616;
    color: #CFF0B1;
}

h2, h3{
    color: #615097;
}

h2{
    text-align: center;
}

.firstarticle{
    margin-top: 5px;
    margin-right: 5px;
    text-align: center;
    border: 2px solid #29195B;
}

p{
    color: #808E92;
    padding-left: 1em;
    padding-right: 1em;
}

footer {
    font-size: 10px;
    margin-top: 5px;
    border: 5px solid #98BECB
}

body {
    margin: 0.5em;
}

#daily{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}

#weatherwidget{
    width: 850px;
}

iframe{
    display: block;
}

iframe a{
    width: 20px;
    z-index: 1;
    height: 92px;
    text-indent: -9999em;
    margin: -92px 0 0 0;
}

@media screen and (max-width: 749px){
    #weatherwidget{
        display: none;
    }
}