@media screen and (min-width: 1000px) {
    .menu{display: none;}
    nav li{
        display:inline-flex;
        flex-direction: row;
    }
    .firstarticle{
        width: 25em;
        background: rgba(152, 190, 203, 0.8);
        float: left;
    }
    h3, p{
        color: #29195B;
    }
    
}